<footer class="bg-black text-[#F5F5F5] py-16 px-8 md:px-20 relative overflow-hidden">


  <!-- COCOLAB -->
  <h1 class="inset-0 flex items-center justify-center text-[18vw] md:text-[10vw] font-extrabold tracking-tight text-[#7F00FF] opacity-50 pointer-events-none select-none">
    COCOLAB
  </h1>

  <div class="relative grid grid-cols-1 md:grid-cols-3 gap-10 text-center md:text-left z-10">
    <!-- NOUS RETROUVER -->
    <div>
      <div class="flex items-center justify-center md:justify-start gap-2 mb-4">
        <span class="text-[#7F00FF] text-2xl">✺</span>
        <h2 class="font-bold uppercase">Nous retrouver</h2>
      </div>
      <p class="text-sm leading-relaxed">
        12 Rue des Combes Saint Germain<br />
        25700 Valentigney
      </p>
    </div>

    <!-- NOUS CONTACTER -->
    <div>
      <div class="flex items-center justify-center md:justify-start gap-2 mb-4">
        <span class="text-[#7F00FF] text-2xl">✺</span>
        <h2 class="font-bold uppercase">Nous contacter</h2>
      </div>
      <p class="text-sm leading-relaxed">
        Tél. 06 99 41 05 70<br/>
        E-mail: contact.cocolab&#64;gmail.com<br><br>
        <a routerLink="/contact" class="rounded-full border-2 border-[#7F00FF] text-white px-6 py-3 rounded font-bold hover:bg-[#7F00FF] hover:text-black transition">Contactez-nous</a>
      </p>
    </div>

    <!-- NOUS SUIVRE -->
    <div>
      <div class="flex items-center justify-center md:justify-start gap-2 mb-4">
        <span class="text-[#7F00FF] text-2xl">✺</span>
        <h2 class="font-bold uppercase">Nous suivre</h2>
      </div>
      <div class="flex justify-center md:justify-start gap-4">
        <a href="https://www.instagram.com/cocolabagence/" target="_blank" class="border border-[#7F00FF] p-2 rounded-md hover:bg-[#7F00FF] hover:text-black transition">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://github.com/matheorose/CocoLab" target="_blank" class="border border-[#7F00FF] p-2 rounded-md hover:bg-[#7F00FF] hover:text-black transition">
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/in/coco-lab-7aa55b39a/" target="_blank" class="border border-[#7F00FF] p-2 rounded-md hover:bg-[#7F00FF] hover:text-black transition">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>

  <br><br>
  <div>
    <div class="flex items-center justify-center md:justify-start gap-2 mb-4">
      <span class="text-[#7F00FF] text-2xl">✺</span>
      <h2 class="font-bold uppercase">Légal</h2>
    </div>
    <div class="flex justify-center md:justify-start gap-1">
      <a routerLink="/mentions-legales" class="relative text-center text-xs text-gray-400 hover:text-[#7F00FF] transition">
        <p>Mentions légales -</p>
      </a>
      <a routerLink="/mentions-legales" fragment="donnees-personnelles" class="relative text-center text-xs text-gray-400 hover:text-[#7F00FF] transition">
        <p>Données personnelles -</p>
      </a>
      <a routerLink="/mentions-legales" fragment="cookies" class="relative text-center text-xs text-gray-400 hover:text-[#7F00FF] transition">
        <p>Modifier les cookies</p>
      </a>
    </div>

    <div class="flex justify-center md:justify-end text-center text-xs text-gray-400">
      <p>CocoLab Créations © 2025</p>
    </div>
  </div>
</footer>
