<header class="h-screen bg-cover bg-center relative text-white" style="background-image: url('assets/hero-bg.png')">
  <div class="bg-black/60 w-full h-full flex items-center justify-center">
    <div class="max-w-5xl text-center px-4">
      <h1 class="text-4xl md:text-5xl font-bold mb-[8vh] md:mb-4">
        Votre avenir digital commence ici<br />
        <span class="text-[#7F00FF]">avec Cocolab</span>
      </h1>
      <p class="text-lg mb-[4vh] md:mb-6">Experts en développement sur-mesure : web, mobile, IA, automatisation et plus encore.</p>
      <div class="flex flex-col items-center md:flex-row md:justify-center gap-4">
        <a routerLink="/about" class="w-fit rounded-full bg-[#7F00FF] text-black px-6 py-3 rounded font-bold transition hover:opacity-90">En savoir plus</a>
        <a routerLink="/contact" class="w-fit rounded-full border-2 border-[#7F00FF] text-white px-6 py-3 rounded font-bold hover:bg-[#7F00FF] hover:text-black transition">Contactez-nous</a>
      </div>
    </div>
  </div>
</header>
